html {
    font-size: 10px;
}

body {
    --bg: hsl(0, 0%, 38%);
    --border: hsl(0, 0%, 90%);
    display: flex;
    flex-wrap: wrap;
    margin: 4rem 5rem;
}

.award {
    margin: .3rem;
    padding: 2.5rem 2.5rem;
    border: .1rem solid var(--border);

    .svg-icon {
        height: 6rem;
        fill: var(--bg);
    }

    &--asianawards {
        .svg-icon {
            width: 2.9rem;
        }
    }

    &--bafta {
        .svg-icon {
            width: 4.6rem;
        }
    }

    &--berlinfestival {
        .svg-icon {
            width: 3.9rem;
        }
    }

    &--cesar {
        .svg-icon {
            width: 2.2rem;
        }
    }

    &--emmy {
        .svg-icon {
            width: 3.4rem;
        }
    }

    &--europeanawards {
        .svg-icon {
            width: 1.2rem;
        }
    }

    &--festivalcannes {
        .svg-icon {
            width: 2.1rem;
        }
    }

    &--georgesawards {
        .svg-icon {
            width: 2.6rem;
        }
    }

    &--goldeneagle {
        .svg-icon {
            width: 4.9rem;
        }
    }

    &--goldenglobes {
        .svg-icon {
            width: 1.9rem;
        }
    }

    &--goldenraspberry {
        .svg-icon {
            width: 4.7rem;
        }
    }

    &--goya {
        .svg-icon {
            width: 3rem;
        }
    }

    &--karlovyvaryfestival {
        .svg-icon {
            width: 2.2rem;
        }
    }

    &--kinotavr {
        .svg-icon {
            width: 5.4rem;
        }
    }

    &--moscowfestival {
        .svg-icon {
            width: 4.4rem;
        }
    }

    &--mtvmovie {
        .svg-icon {
            width: 2.7rem;
        }
    }

    &--mtvrussia {
        .svg-icon {
            width: 5.4rem;
        }
    }

    &--nika {
        .svg-icon {
            width: 5.3rem;
        }
    }

    &--oscar {
        .svg-icon {
            width: 2.4rem;
        }
    }

    &--sansebastianfestival {
        .svg-icon {
            width: 5.4rem;
        }
    }

    &--saturn {
        .svg-icon {
            width: 4.6rem;
        }
    }

    &--screenactorsguild {
        .svg-icon {
            width: 2.7rem;
        }
    }

    &--venicefestival {
        .svg-icon {
            width: 5.4rem;
        }
    }

    &--sundance {
        .svg-icon {
            width: 5.4rem;
        }
    }
}


